<div>
<address>
	<br><br>
	<h4><strong>VJ Foto Video Company</strong></h4><br>
    	Área Especial de Indústria Projeção A, UNB - DF-480<br>
      	Gama Leste, Brasília - DF, 72444-240<br>
      	
    </address>
     
    <address>
      <strong>Contact: </strong><br>
      <abbr title="Phone">P:</abbr> (061) 3356-2131 <br>
      <a href="mailto:#">vjfotovideo@gmail.com</a>
</address>
</div>

<head>
	<script src="http://maps.googleapis.com/maps/api/js"></script>
	<script>
	function initialize() {
  		var mapProp = {
  		center:new google.maps.LatLng(-15.9881221,-48.0441784),
    	zoom:16,
   		mapTypeId:google.maps.MapTypeId.ROADMAP
  		};
  	var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
	}
	google.maps.event.addDomListener(window, 'load', initialize);
	</script>
</head>

<body>
	<div id="googleMap" style="width:500px;height:380px;"></div>
</body>
