<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="Screenshot.png" alt="casamento">
      <div class="caption">
        <h3>Casamentos</h3>
        <p>Diversos tipos</p>
      </div>
    </div>
  </div>
</div>

